<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socketio & Python</title>
</head>
<body>
    <h1>Python & SocketIO Application</h1>


    <!-- el cdn para crear un socket -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js" 
    integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const socket=io();
        /*primergit valor es el del on que he puesto en python @socketio.on('message') y el otro valor es lo que queremos   */
        socket.emit('message','hello')
    </script>
    
</body>
</html>